@model OpOverkill.Models.IndexViewModel
@{
    ViewData["Title"] = Model.SeoTitle;
}

<div class="row">
    <div class="col-sm-12">
        <h3>Water Pump Sensor</h3>
    </div>
</div>
<div class="row">
    <div class="col">Time</div>
    <div class="col"><span id="spTime"></span></div>
</div>
<div class="row">
    <div class="col">Pump 1 Active</div>
    <div class="col"><span id="spPump1">@Model.Pump1Active.ToString().ToLower()</span></div>
</div>
<div class="row">
    <div class="col">Pump 2 Active</div>
    <div class="col"><span id="spPump2">@Model.Pump2Active.ToString().ToLower()</span></div>
</div>
<div class="row">
    <div class="col">Sensor Value</div>
    <div class="col"><span id="spSensor">@Model.SensorValue</span> / 400</div>
</div>
<div class="row">
    <div class="col">Sensor Average</div>
    <div class="col"><span id="spSensorAverage">@Model.SensorAverage</span></div>
</div>
<div class="row">
    <div class="col">Temperature</div>
    <div class="col"><span id="spSensorTemperature">@Model.Temperature</span>°</div>
</div>
<div class="row">
    <div class="col-sm-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Weather Station</h3>
    </div>
</div>
<div class="row">
    <div class="col">Temperature</div>
    <div class="col"><span id="spWeatherStationTemperature">@Model.Temperature</span>°</div>
</div>
<div class="row">
    <div class="col">Humidity</div>
    <div class="col"><span id="spWeatherStationHumidity">@Model.Humidity</span>%</div>
</div>
<div class="row">
    <div class="col">Sensor</div>
    <div class="col"><span id="spWeatherStationRainSensor">@Model.RainSensor</span></div>
</div>
<div class="row">
    <div class="col">Raining</div>
    <div class="col"><span id="spWeatherStationIsRaining">@Model.IsRaining</span></div>
</div>
<div class="row">
    <div class="col">Daytime</div>
    <div class="col"><span id="spWeatherStationIsRaining">@Model.IsDayTime</span></div>
</div>
<div class="row">
    <div class="col-sm-2">
        <p><span id="connectionState" class="badge bg-danger">Server Not Connected</span></p>
    </div>
    <div class="col-sm-9">
        
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Current Weather Forecast (Hourly)</h3>
    </div>
</div>
<div class="row">
    <div class="col">Temperature</div>
    <div class="col"><span id="spTemp">-</span></div>
</div>
<div class="row">
    <div class="col">Humidity</div>
    <div class="col"><span id="spHumid">-</span></div>
</div>
<div class="row">
    <div class="col">Dew Point</div>
    <div class="col"><span id="spDewPoint">-</span></div>
</div>
<div class="row">
    <div class="col">Precipitation Probability</div>
    <div class="col"><span id="spPrecipProb">-</span></div>
</div>
<div class="row">
    <div class="col">Precipitation</div>
    <div class="col"><span id="spPrecip">-</span></div>
</div>
<div class="row">
    <div class="col">Rain</div>
    <div class="col"><span id="spRain">-</span></div>
</div>
<div class="row">
    <div class="col">Showers</div>
    <div class="col"><span id="spShowers">-</span></div>
</div>
<div class="row">
    <div class="col">Wind Speed</div>
    <div class="col"><span id="spWindSpeed">-</span></div>
</div>
<div class="row">
    <div class="col">Wind Direction</div>
    <div class="col"><span id="spWindDirection">-</span></div>
</div>

<script>
    scheme = document.location.protocol === "https:" ? "wss" : "ws";
    port = document.location.port ? (":" + document.location.port) : "";

    let settings = {
        connState: document.getElementById("connectionState"),
        serverIp: scheme + "://" + document.location.hostname + port + "/webclient/",
        statusUpdateCode: 'WaterSensor',
        connectedYes: '@Languages.LanguageStrings.Yes',
        connectedNo: '@Languages.LanguageStrings.No',
        useAjax: true,
    }

    opOverkill.init(settings);
</script>
